# Esercizio 1:
Abbiamo la stringa: nome_scuola = "Epicode" Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto while.

In [3]:
nome_scuola = "Epicode"
indice = 0
lunghezza = len(nome_scuola)

In [4]:
while indice < lunghezza:
    carattere = nome_scuola[indice]
    indice += 1
    print ( carattere , '\n')

E

p

i

c

o

d

e

# Esercizio 2:
Stampare a video tutti i numeri da 0 a 20 utilizzando il costrutto while. Utilizzeremo:
 • un ciclo while • la funzione print() • una variabile, che dovrà essere inizializzata • una procedura di incremento

In [5]:
n = 0

In [6]:
while n <= 20:
    print(n, '\n')
    n += 1

0

1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19

20

# Esercizio 3:
Calcolare e stampare tutte le prime 10 potenze di 2 (e.g., 2⁰, 2¹, 2², …) utilizzando un ciclo while.

In [7]:
x = 2
y = 0

In [8]:
while y < 10:
    print (x**y , '\n')
    y += 1

1

2

4

8

16

32

64

128

256

512

# Esercizio 4:
Calcolare e stampare tutte le prime N potenze di 2 utilizzando un ciclo while, domandando all'utente di inserire N.

In [9]:
N = int(input("Inserisci il numero N delle potenze di 2 da calcolare: "))
z = 0

Inserisci il numero N delle potenze di 2 da calcolare:  7

In [10]:
while z < N:
    print( 2**z , '\n')
    z += 1

1

2

4

8

16

32

64

# Esercizio 5:
Calcolare e stampare tutte le potenze di 2 minori di 25000.

In [11]:
y=0
x=2**y

In [12]:
while x<25000:
    print(x)
    y+=1
    x=2**y

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384

# Esercizio 6:
Abbiamo due liste, una di studenti e una di corsi:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
Aggiungere i dati mancanti alla lista corsi, sapendo che Emma segue Data Analyst, Faith segue Backend, Grace segue Frontend, Henry segue Cybersecurity
Aggiungeremo i dati mancanti uno alla volta con il metodo per appendere in coda alle liste, poi verificheremo che sono della stessa lunghezza
e se lo sono stamperemo la lista corsi. Se alcuni dati sono già presenti non vanno aggiunti di nuovo

In [13]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
num_stud = len(studenti)
num_corsi = len(corsi)
print(num_corsi , num_stud)

6 8

In [14]:
corsi.append('Frontend')
corsi.append('Cybersecurity')
num_corsi = len(corsi)
print(num_corsi , num_stud)

8 8

In [15]:
if num_stud == num_corsi:
    print ( corsi )
else:
    print('Non corrisponde')

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Frontend', 'Cybersecurity']

# Esercizio 7:
Scriviamo un programma che chiede in input all'utente una stringa e visualizza i primi 3 caratteri, seguiti da 3 punti di sospensione 
e quindi gli ultimi 3 caratteri, similmente all'esercizio della lezione scorsa. 
Stavolta facciamo attenzione a tutti i casi particolari, ovvero implementare soluzioni ad hoc per stringhe di lunghezza inferiore a 6 caratteri.

In [16]:
stringa = input('Inserisci la stringa: ')

Inserisci la stringa:  sampdoria

In [17]:
lenght = len(stringa)
if lenght == 6:
    print(stringa)
elif lenght < 6:
    print('La stringa è troppo corta')
else:
    print(stringa[:3], '...' , stringa[-3:])

sam ... ria

# Esercizio 8:
Memorizza e stampa tutti i fattori di un numero dato in input. Esempio: • input: 150 • output: [2, 3, 5, 5]

In [4]:
numero = int(input('Inserisci il numero: '))

Inserisci il numero:  150

In [6]:
fattori = []
num = 2
Numero = numero
while Numero != 1:
    if Numero % num == 0:
        fattori.append(num)
        Numero = Numero / num
    else: num += 1
print(fattori)

[2, 3, 5, 5]

# Esercizio 9:
Abbiamo la stringa: nome_scuola = "Epicode" Stampare ogni carattere della stringa, uno su ogni riga, utilizzando un costrutto for.

In [7]:
nome_scuola = "Epicode"

In [8]:
for carattere in nome_scuola:
    print(carattere)

E
p
i
c
o
d
e

# Esercizio 10:
Calcolare e stampare tutte le prime 10 potenze di 2 utilizzando un ciclo.

In [23]:
esponente = 0
potenza = 2**esponente

In [24]:
while esponente < 10:
    print(potenza)
    esponente += 1
    potenza = 2**esponente

1
2
4
8
16
32
64
128
256
512

In [25]:
for esponente in range(10):
    print(potenza)
    esponente += 1
    potenza = 2**esponente

1024
2
4
8
16
32
64
128
256
512

# Esercizio 11:
Calcolare (ma non stampare) le prime N potenze di K; ognuna di esse andrà memorizzata in coda a una lista.
Alla fine, stampare la lista risultante. Proviamo con diversi valori di K, oppure facciamola inserire all'utente.
Realizzare due versioni: • con un ciclo while, • con un ciclo for.

In [9]:
K = int(input('Inserisci il valore di K: '))
N = int(input('Inserisci il valore di N: '))

Inserisci il valore di K:  5
Inserisci il valore di N:  6

In [10]:
potenze = []
n = 0
potenza = K**n

In [11]:
while n < N:        # ciclo while
    potenze.append(potenza)
    n += 1
    potenza = K**n

In [12]:
for i in range(N):     # ciclo for
    potenze.append(K**i)

In [13]:
potenze

[1, 5, 25, 125, 625, 3125, 1, 5, 25, 125, 625, 3125]

# Esercizio 12:
Abbiamo una lista con i guadagni degli ultimi 12 mesi: guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] 
usando un costrutto for, calcolare la media dei guadagni e stamparla a video.

In [14]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

In [15]:
somma = 0
for guadagno in guadagni:
    somma += guadagno
media = somma / len(guadagni)
print(media)

70.0

# Esercizio 13:
Abbiamo una lista di parole: parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", "Cesta", "Ermellino"] stampiamo, per ogni parola, quante volte appare la lettera "e"; facciamo attenzione al fatto che appare sia maiuscola che minuscola.

In [16]:
parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo", "Belvedere", "Semestre", "Esteta", "Sosta", "Orpello", "Abete", "Orologio", 
          "Cesta", "Ermellino"]

In [17]:
for parola in parole:
    conto = parola.count('e') + parola.count('E')
    print(parola,'contiene la lettera "e"',conto,'volte')

Albergo contiene la lettera "e" 1 volte
Sedia contiene la lettera "e" 1 volte
Borgo contiene la lettera "e" 0 volte
Petalo contiene la lettera "e" 1 volte
Eremo contiene la lettera "e" 2 volte
Belvedere contiene la lettera "e" 4 volte
Semestre contiene la lettera "e" 3 volte
Esteta contiene la lettera "e" 2 volte
Sosta contiene la lettera "e" 0 volte
Orpello contiene la lettera "e" 1 volte
Abete contiene la lettera "e" 2 volte
Orologio contiene la lettera "e" 0 volte
Cesta contiene la lettera "e" 1 volte
Ermellino contiene la lettera "e" 2 volte

# Esercizio 14:
Creiamo un dizionario che assegni ad ogni proprietario la sua auto, sapendo che: • Ada guida una Punto • Ben guida una Multipla • Charlie guida una Golf • Debbie guida una 107 Stampiamo il dizionario per intero, e poi l'auto associata a Debbie.

In [18]:
Macchine = { 'Ada' : 'Punto' , 'Ben' : 'Multipla' , 'Charlie' : 'Golf' , 'Debbie' : '107'}
print(Macchine)

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}

In [19]:
print(Macchine['Debbie'])

107

# Esercizio 15:
Abbiamo un dizionario che assegna ad ogni proprietario la sua auto: dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf",
"Debbie": "107"} Con un ciclo, e usando il metodo .values(), stampiamo a video tutte le auto che non sono una Multipla.

In [3]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107"}

In [6]:
for auto in dizionario_auto.values():
    if auto != "Multipla":
        print(auto)

Punto
Golf
107

# Esercizio 16:
Abbiamo due dizionari che assegnano ad ogni proprietario la propria auto: dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"} nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"} Aggiornare il dizionario dizionario_auto con i dati contenuti in nuovi_proprietari e stamparlo. Cosa è successo a Ben?

In [22]:
dizionario_auto = {"Ada": "Punto", "Ben": "Multipla", "Charlie": "Golf", "Debbie": "107", "Emily": "A1"}
nuovi_proprietari = {"Ben": "Polo", "Fred": "Octavia", "Grace": "Yaris", "Hugh": "Clio"}

In [23]:
dizionario_auto.update(nuovi_proprietari)
print(dizionario_auto)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

# Esercizio 17:
Osservando la sintassi dei dizionari, possiamo notare qualche affinità con il formato JSON?

Hanno una struttura identica in relazione al rapporto chiave:valore

# Esercizio 18:
Scrivere un programma che, data una lista di numeri, fornisca in output il minimo e il massimo (possiamo usare o meno le funzioni built-in min() e max()).

In [26]:
lista_numeri = [ 1, 5, 7, 8, 2, 19, 46, 0, 53, 35, 17, 7 ]

In [25]:
print('il numero massimo è' , max(lista_numeri), ', il numero minimo è' , min(lista_numeri))

il numero massimo è 53 , il numero minimo è 0

# Esercizio 19:
Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi; gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [25]:
lista_numeri = [ 10, 7, 8, 3, 79, 23]

In [26]:
lista_numeri.sort()
if len(lista_numeri) < 6:
    print ('La lista è troppo corta')
else:
    print(lista_numeri[:3],lista_numeri[-3:])

[3, 7, 8] [10, 23, 79]

# Esercizio 20:
Scrivere un programma che 
• in input acquisisce una lista di numeri e un numero K 
• in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K 
• se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

In [27]:
input_lista = input('Inserisci una lista di numeri separati da spazi: ')
K = int(input('Inserisci il valore di K: '))

Inserisci una lista di numeri separati da spazi:  10 22 15 5 7 6
Inserisci il valore di K:  7

In [30]:
lista = list(map(int, input_lista.split()))
numeri = []
for numero in lista:
    if numero >= K:
        numeri.append(numero)

In [31]:
somma = sum(numeri)
media = somma/len(numeri)
if len(numeri) > 0:
    print(media)
else:
    print('Non ci sono numeri maggiori di K')

13.5

# Esercizio 21:
Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica Esempio, supponendo di avere il seguente input: numeri = [5, 2, 3, 4] L'output sarà: ***** ** *** ****

In [44]:
numeri = [5, 2, 3, 4]

In [47]:
asterischi = []
for numero in numeri:
    asterisco = '*' * numero
    asterischi.append(asterisco)

In [48]:
asterischi

['*****', '**', '***', '****']

# Esercizio 22:
Abbiamo una lista di codici fiscali: lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"] • trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla; • inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome.

In [49]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

In [50]:
lista_95 = []
for cf in lista_cf:
    if "95" in cf:
        lista_95.append(cf)

In [51]:
lista_95

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [53]:
for cf95 in lista_95:
    print(cf95[:3],cf95[3:6])

ABC DEF
STU VWX
DEF GHI

# Esercizio 23:
Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente: studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] edizioni = [1, 2, 3, 2, 2, 1, 3, 3] • Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti i dati potrebbero essere necessari.

In [9]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

In [63]:
stud_ed = dict(zip(studenti,edizioni))
print(stud_ed)

{'Alex': 1, 'Bob': 2, 'Cindy': 3, 'Dan': 2, 'Emma': 2, 'Faith': 1, 'Grace': 3, 'Henry': 3}

# Esercizio 24:
Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro: prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"] cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista; il risultato sarà memorizzato in un'altra lista.

In [44]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

In [46]:
nuovi_prezzi = []
for prezzo in prezzi:
    nuovo_prezzo = prezzo.replace('€','$')
    nuovi_prezzi.append(nuovo_prezzo)
print(nuovi_prezzi)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

# Esercizio 25:
Abbiamo una lista di studenti: studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"] vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo: selezioneremo i nomi in posizione pari per un squadra, e i nomi in posizione dispari per l'altra. Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [47]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [49]:
squadra1 = studenti[0::2]
squadra2 = studenti[1::2]
print(squadra1,squadra2)

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle'] ['Bob', 'Dan', 'Faith', 'Henry', 'John']

# Esercizio 26:
Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre): guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50] dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti. Esempio di un possibile output: Mese 1: 100 € Mese 2: 90 € (media prec: 100 € - il guadagno attuale è minore)

In [50]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

In [99]:
totale = 0
for i in range(len(guadagni)):
    if i == 0:
        print('Mese', i+1, ':', guadagni[i], '€')
    else:
        totale += guadagni[i-1]
        media = totale / (i)
        print('Mese', i+1, ':', guadagni[i], '€ (Media mesi precedenti:', media, '€)', end = '-')
        
        if guadagni[i] > media:
            print('Il guadagno attuale è maggiore')
        elif guadagni[i] == media:
            print('Il guadagno attuale è uguale')
        else:
            print('Il guadagno attuale è minore')

Mese 1 : 100 €
Mese 2 : 90 € (Media mesi precedenti: 100.0 €)-Il guadagno attuale è minore
Mese 3 : 70 € (Media mesi precedenti: 95.0 €)-Il guadagno attuale è minore
Mese 4 : 40 € (Media mesi precedenti: 86.66666666666667 €)-Il guadagno attuale è minore
Mese 5 : 50 € (Media mesi precedenti: 75.0 €)-Il guadagno attuale è minore
Mese 6 : 80 € (Media mesi precedenti: 70.0 €)-Il guadagno attuale è maggiore
Mese 7 : 90 € (Media mesi precedenti: 71.66666666666667 €)-Il guadagno attuale è maggiore
Mese 8 : 120 € (Media mesi precedenti: 74.28571428571429 €)-Il guadagno attuale è maggiore
Mese 9 : 80 € (Media mesi precedenti: 80.0 €)-Il guadagno attuale è uguale
Mese 10 : 20 € (Media mesi precedenti: 80.0 €)-Il guadagno attuale è minore
Mese 11 : 50 € (Media mesi precedenti: 74.0 €)-Il guadagno attuale è minore
Mese 12 : 50 € (Media mesi precedenti: 71.81818181818181 €)-Il guadagno attuale è minore